body {
  margin: 0;
}

.nav-link {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    min-height: 150px;
}

.project-1 {
    max-width: 400px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-1.png');
}

.project-2 {
    max-width: 400px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-2.png');
}

.project-3 {
    max-width: 500px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-3.png');
}

.project-4 {
    max-width: 500px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-4.png');
}

.project-5 {
    max-width: 500px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-5.png');
}

.project-6 {
    max-width: 500px;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/nav-img/img-6.png');
}

.overlay-bg.visible {
    opacity: 1;
}

.overlay-bg-6 {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-bg-4 {
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-bg-3 {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-bg-1 {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-bg-2 {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-bg-5 {
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #e74c51, #94110c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #e74c51, #94110c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-link h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.profile {
  width: 100px;
  border-radius: 50%;
  margin: 0px 0px 20px 0px;
}

.logo {
  width: 300px;
}

h1 {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 24px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 0px;
}

li {
  padding: 10px 10px;
}

.social-list img {
  width: 30px;
}

.contact-home div a {
  line-height: 24px;
}

a {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

footer h2 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 20px 0px;
}

/* Mobile */
@media only screen and (max-width: 800px) {
.wrapper {
  display: grid;
}

.about {
  text-align: center;
  display: grid;
  align-content: center;
  min-height: 60vh;
  padding: 40px;
}

.overlay-bg {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 1500px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.portfolio {
    display: flex;
    justify-content: center;
}

.menu {
    display: grid;
    grid-gap: 80px;
    grid-template-rows: repeat(6, 40vw);
    min-width: 60%;
    z-index: 2;
    padding: 40px;
}

.footer {
  display: grid;
  grid-row: 3;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 200px;
}

.header {
  width: 70%;
  display: inline-flex;
}
}

/* Tablet / Desktop */
@media only screen and (min-width: 801px) {
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.about {
  text-align: center;
  display: grid;
  align-content: center;
  min-height: 80vh;
}

.overlay-bg {
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.portfolio {
    grid-column: 2;
    grid-row: 1;
    display: flex;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(3, 25vh);
    grid-gap: 40px;
    margin: 60px auto;
    z-index: 2;
}

.footer {
  display: grid;
  align-content: center;
}
}