body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 0px;
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.item-a {
    grid-area: 1 / span 2;
}

.item-b {
    grid-area: 2 / span 2;
}

.item-c {
    grid-area: 3 / span 2;
}

.item-d {
    grid-area: 4 / span 2;
}

.item-e {
    grid-area: 5 / 1;
}

.item-f {
    grid-area: 5 / 2;
}

.item-g {
    grid-area: 6 / span 2;
}

.item-h {
    grid-area: 7 / span 2;
}

.item-i {
    grid-area: 8 / span 2;
}

article {
    min-height: 300px;
}

.img {
    width: 100%;
    height: 50vh;
    max-width: 2000px;
    background: grey;
}

.img-right {
    width: 100%;
    height: 50vh;
    background: grey;
}

#contact-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 40px 3vw;
    transition: .5s;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    font-weight: 600;
    color: white;
}

.contact-button {
    background: rgb(34, 86, 199);
    padding: 15px;
}

.close-button {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 100px 4vw;
}

.close-button img {
    width: 45px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

h4 {
    text-align: center;
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5em;
}

p {
    width: 60%;
    max-width: 900px;
    margin: 80px auto;
}


footer {
    margin: 100px auto;
}
