body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
  min-height: 100vh;
}

.about {
  text-align: center;
  display: grid;
  align-content: center;
}

.portfolio {
  background-color: cornflowerblue;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.profile {
  width: 125px;
  border-radius: 50%;
  margin: 0px 0px 20px 0px;
}

.logo {
  width: 300px;
}

h1 {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 0px;
}

li {
  padding: 10px 10px;
}

.social-list img {
  width: 30px;
}

.contact-home div a {
  line-height: 24px;
}

a {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

footer h2 {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 20px 0px;
}

.footer {
  background-color: dimgray;
  display: grid;
  align-content: center;
  height: 100px;
}