html, body, section {
  height: 100%;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.left {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  flex: 1;
  width: 50%;

}

.right {
  background-color: #00315a;
  flex: 1;
  text-align: center;
}

ul {
  list-style: none;
  style: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

img {
  height: auto;
  width: auto;
  max-width: 320px;
  max-height: auto;
}

.social img {
  width: 32px;
  height: auto;
}

p {
  font-family: roboto, helvetica, arial, sans-serif;
  font-size: 1em;
  justify-content: flex-start;
}

h1 {
  font-family: roboto;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

.bold {
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.footer {
  position: fixed;
  text-align: center;
  justify-content: center;
  bottom: 0;
  width: 50%;
  font-size: 0.85em;
}
