@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  .contact-home a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
  }

  .white-mode img {
    display: none;
  }

  ul .white-mode {
    display: none !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .contact-home a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
  }

  .dark-mode img {
    display: none;
  }

  ul .dark-mode {
    display: none !important;
  }
}

body {
  margin: 0;
}

.profile {
  width: 100px;
  border-radius: 50%;
  margin: 0px 0px 20px 0px;
}

.logo {
  width: 300px;
}

h1 {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 24px;
  font-weight: 400;
}

ul, ul .white-mode, ul .dark-mode {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 0px;
}

li {
  padding: 10px 10px;
}

.social-list img {
  width: 30px;
}

.contact-home div a {
  line-height: 24px;
}

a {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.button {
    padding: 10px;
    width: 50px;
    align-content: center;
}

a:hover {
  opacity: 0.5;
}

li a:hover {
  opacity: 0.5;
}

/* Mobile */
@media only screen and (max-width: 768px) {
.wrapper {
  display: grid;
}

.header {
  width: 70%;
  display: inline-flex;
}

.about {
  text-align: center;
  display: grid;
  align-content: center;
  min-height: 100vh;
  padding: 40px;
}
}

/* Tablet / Desktop */
@media only screen and (min-width: 769px) {
.wrapper {
  display: grid;
}

.header {
  width: 30%;
  display: inline-flex;
}

.about {
  text-align: center;
  display: grid;
  align-content: center;
  min-height: 100vh;
}
}
